#root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;


  /* 防微信ios系统字体被手动调大优化 */
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}

/* Chrome Safari */
#root::-webkit-scrollbar {
  display: none;
}