#root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

/* Chrome Safari */
#root::-webkit-scrollbar {
  display: none;
}